<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel='stylesheet' href='main.css'>
  </head>
  <body>

    <header>
      <nav>
        <h4><a href='index.hbs'>CO | covertOps</a></h4>
        <ul>
          <li>Logged in as {{currentUser.username}}</li>
          <li>Log Out</li>
        </ul>
      </nav>
    </header>

<div>
    <div class='addSecretForm'>
      <h3>Add a Secret!</h3>
      <form class='secretForm'>
        <label>New Secret</label>
        <input text='type' value=''>
        <label>Does anyone else know this secret?</label>
        <select>
          <option value='Beth'>Beth</option>
          <option value='Makayla'>Makayla</option>
          <option>{{users}}</option>
        </select>
        <button type='submit'>Add</button>
      </form>
    </div>
  </div>


  </body>
</html>
