<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel='stylesheet' href='/main.css'>
  </head>

  <body>
    <header>
      <nav>
        <h4><a href='/'>CO | covertOps</a></h4>
        <ul>
          <li><a href='/login'>Create Account</a></li>
          <li><a href='/login'>Log In</a></li>
        </ul>
      </nav>
    </header>

    <div class='welcome'>
      <h1>Covert Ops</h1>
      <h4>Keeping your secrets safe</h4>
      <p>Sign in to see or add to your secrets!</p>
    </div>

  </body>
</html>
