<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create or Log In</title>
    <link rel='stylesheet' href='main.css'>
  </head>
  <body>

    <header>
      <nav>
          <h4><a href='index.hbs'>CO | covertOps</a></h4>
      </nav>
    </header>

<div class='formsMain'>
    <div class='forms'>
        <form id='createAcct' action='/api/users' method='post'>
          <h3>Create an Account</h3>
          <label>Email</label>
          <input type='text' name='email' value=''>
          <button type='submit'>Create Account</button>
        </form>

        <script>

        </script>

        <form class='login' action='/api/users' method='post'>
          <h3>Log In </h3>
          <label>Enter Your Code</label>
          <input type='text' name='code' value=''>
          <button type='submit'>Log In</button>
        </form>
    </div>
  </div>

  </body>
</html>
