<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <header>
      <nav>
        <h1>CO<h1>
        <ul>
          <li>Logged in as NAME</li>
          <li>Add Secret</li>
          <li>Log Out</li>
        </ul>
      </nav>
    </header>

  </body>
</html>
