<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <header>
      <nav>
          <h4><a href='index.hbs'>CO | covertOps</a></h4>
        <ul>
          <li>Logged in as NAME</li>
          <li>Add Secret</li>
          <li>Log Out</li>
        </ul>
      </nav>
    </header>

    <div>
    </div>



  </body>
</html>
