<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <header>
      <nav>
          <h4><a href='/'>CO | covertOps</a></h4>
        <ul>
          <a><li>Logged in as {{currentUser.username}}</li></a>
          <a href='/addSecret'><li>Add Secret</li></a>
          <li>Log Out</li>
        </ul>
      </nav>
    </header>

    <div>
      <h4>Your Code:{{currentUser.code}} </h4>
    </div>



  </body>
</html>
