ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.mainLink {
 font-size: 24px;
}

.welcome {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 500px;
}

.formsMain {
    display: flex;
    justify-content: center;
}


.forms {
  /*border: 2px solid black;*/
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 400px;
}

.login, .createAcct {
  display: flex;
  flex-direction: column;
  margin: 100px;
}
